<strong>Olá {{ student }}</strong>
<p>Você é muito bem-vindo a GymPoint, vamos cuidar da sua saúde.</p>
<p>Segue abaixo os detalhes do plano adquirido:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Início: </strong> {{ start_date }} <br />
  <strong>Fim: </strong> {{ end_date }} <br />
  <strong>Valor Total: </strong> {{ price }} <br />
  <br />
</p>
